<div class="container" style="width: 500px;">
  <form (ngSubmit)="registerFunction()"class="login100-form validate-form flex-sb flex-w" [formGroup]="formTemplate">
  <div class="column">    <div class="form-group">
      <label for="primerApellido">Primer apellido</label>

      <input type="text" class="form-control"    formControlName="firsLastName" placeholder="Primer apellido">
    </div>
    <div class="form-group">
      <label for="segundoApellido">Segundo apellido</label>
      <input type="text" class="form-control"  formControlName="secondLastName" placeholder="Segundo apellido">
    </div>
    <div class="form-group">
      <label for="primerNombre">Primer nombre</label>
      <input type="text" class="form-control"  formControlName="firstName" placeholder="Primer nombre">
    </div>
    <div class="form-group">
      <label for="otrosNombre">Otros nombres</label>
      <input type="text" class="form-control" formControlName="otherNames" placeholder="Otros nombres">
    </div>  <div class="form-group">
      <label for="paisEmpleo">País del empleo </label>
      <select formControlName="countryEmploye" >
        <option value="" disabled selected>Seleccione un País</option>

        <option *ngFor="let state of countries" [ngValue]="state" >
          {{ state }}
        </option>
      </select>
      <!-- <input type="text" class="form-control"  formControlName="countryEmploye" placeholder="País del empleo"> -->
    </div>
    <div class="form-group">
      <label for="tipoIdentificacion">Tipo de identificación</label>
      <select formControlName="typeId">
        <option value="" disabled selected>Seleccione un tipo</option>

        <option *ngFor="let type of typeIdList" [ngValue]="type">
          {{ type }}
        </option>
      </select>
      <!-- <input type="text" class="form-control"  formControlName="typeId" placeholder="Tipo de identificacion"> -->
    </div></div>
    <div class="column">  
    <div class="form-group">
      <label for="numeroIdentificacion">Numero de identificación</label>
      <input type="text" class="form-control"  formControlName="numberId" placeholder="Numero de identificacin">
    </div>
    <div class="form-group">
      <label for="correoElectronico">Correo Electronico</label>
      <input type="text" class="form-control"  formControlName="email"  placeholder="Correo Electronico">
    </div>
    <div class="form-group">
      <label for="fechaIngreso">Fecha de ingreso</label>
      <input type="text" class="form-control"  formControlName="dateEntry"  placeholder="Fecha de ingreso">
    </div>
    <div class="form-group">
      <label for="area">Area</label>
      <input type="text" class="form-control"  formControlName="area"  placeholder="Area">
    </div>
    <div class="form-group">
      <label for="estado">Estado</label>
      <input type="text" class="form-control"  formControlName="state"  placeholder="Estado">
    </div>
    <div class="form-group">
      <label for="fechaHora">Fecha y hora</label>
      <input type="text" class="form-control"  formControlName="dateTime"  placeholder="Fecha y hora">
    </div>
  </div>

    <br>
    <div class="w-33">
      <div class="center">
     <button class="col-xs-6 col-centrada"    style="margin: 10px"    type="submit" class="btn btn-primary">Submit</button>
    </div></div>
    </form></div>